body {
  overflow-x: hidden !important;
}

nav {
<<<<<<< HEAD
  background: transparent;
=======
  background: rgba(0, 0, 0, 0);
>>>>>>> update all
  box-shadow: none !important;
  padding: 0px 20px;
}

.nav-clr {
  background: #f8f1f1ce;
}

.text-clr {
  color: black;
}

.row h1,
.row h3 {
  color: white;
}

.bgimg {
  background-image: url("../images/bg-bola.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -85px;
  padding-top: 90px;
  padding-bottom: 100px;
  max-width: 100%;
}

.bgimg .row {
  margin-top: 50px;
}

.bgimg h1 {
  font-size: 50px;
}
.navbar {
  background-color: 0 0 0 0;
}

.row .fa-angle-double-down {
  font-size: 60px;
}

.row img,
.row img::after,
.row img::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

.player img {
  max-width: 90%;
}

.feature {
  margin-top: -50px;
}

.feature .row .card {
  border-radius: 5px;
  height: 190px;
  max-width: 210px;
}

.feature .card:hover i {
  color: #16697a;
}

.feature .card:hover {
  transform: scale(1.03);
}

.gallery .row img {
  border-radius: 5px !important;
}

.team-img img {
  max-width: 80px !important;
  margin: 0 auto !important;
  padding: 20px 0 !important;
}

.team-card .card {
  max-width: 100% !important;
  min-height: 330px !important;
}

@media only screen and (max-width: 600px) {
  .feature .row .card {
    min-width: 100%;
    max-width: 100%;
  }

  .gallery .row h4 {
    text-align: center;
  }
}
